*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

[class*="col-"]{
    min-height: 50px;
    background-color: blue;
    border:solid 1px white;
}

.uno{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.due{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.grren{
    background-color: yellowgreen;
    min-height: 35px;
    border:solid 1px blue;
}

.verde{
    padding: 10px;
}

.seconda{
    margin-top: 30px;
}